/* div + p {
  background-color: yellow;
} */
/* 
div > p {
  background-color: red;
} */
/* 
div {
  background-color: blue;
  color: white;
  padding: 25px;
  text-align: center;
}

div:hover {
  background-color: yellow;
}

div h2:hover {
  color: red;
} */

/* div p:nth-child(even) {
  background-color: red;
}

div p:nth-child(odd) {
  background-color: blue;
}

div p:nth-child(4n) {
  background-color: green;
} */
