/* Adjacent Sibling Selector style first paragraph after every div*/

/* div + p {   
    color: rgb(171, 53, 187);
} */

/* Child Selector selects all the elements that are in a parent element.
All the p that are in the DIV, not the one in the section*/

/* div>p {
    color: rgb(171, 53, 187);
} */

/* Mouse on hover */

/* div {
    color: red;
}
div:hover {
    color: blue;
}
p:hover {
    color: rgb(224, 195, 30);
} */

/* Nth child/select Odd/Even */

/* p:nth-child(2n){
    color: rgb(230, 140, 23);
}
p:nth-child(2n+1){
    color: rgb(102, 40, 131);
} */